@model ICollection<AuthorViewModel>
@{
    var modelo = new AuthorViewModel();
}

<div class="col-12 no-padding">
    <header class="heading">
        <h2 id="tituloFormulario">Autores</h2>
        <div class="cursor-pointer float-right mb-2">
            <a class="btn-sm btn-primary text-light"
               asp-area="Biblioteca" asp-controller="Author"
               asp-action="Add">Cadastrar autor</a>
        </div>
    </header>
    @{ await Html.RenderPartialAsync("_ValidationSummary"); }
    <div id="gradeAutores" class="no-padding">
        <table id="tableAutores"
               class="table table-striped table-hover"
               tabindex="0">
            <thead>
                <tr>
                    <th ordem="0" id="th@(nameof(AuthorViewModel.AuthorId))">
                        @(modelo.DisplayName(nameof(AuthorViewModel.AuthorId)))
                    </th>
                    <th ordem="0" id="th@(nameof(AuthorViewModel.Name))">
                        @(modelo.DisplayName(nameof(AuthorViewModel.Name)))
                    </th>
                    <th class='grade-col-alterar'></th>
                </tr>
            </thead>
            <tbody class="dados">
                @foreach (var item in Model)
                {
                    <tr>
                        @{
                            <td class='grade-col-campo'
                                ng-bind="item.@(nameof(AuthorViewModel.AuthorId))">
                                @item.AuthorId
                            </td>
                            <td class='grade-col-campo'
                                ng-bind="item.@(nameof(AuthorViewModel.Name))">
                                @item.Name
                            </td>
                            <td class="grade-col-alterar">
                                <a class='btn btn-primary btn-sm' tabindex="0"
                                   data-original-title='Alterar informações do autor.'
                                   data-placement='auto'
                                   asp-area="Biblioteca" asp-controller="Author"
                                   asp-action="Edit"
                                   asp-route-authorid="@item.AuthorId">
                                    <i class=""></i> Alterar
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>